.not-found {
  display: flex;
  height: 100%;

  &__container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }

  &__image {
    max-width: 400px;

    img {
      max-width: 100%;
    }
  }

  &__back {
    height: 40px;
    border: 1px rgb(253, 115, 115) solid;
    width: 150px;
    transition: all 0.3s ease;
    border-radius: 3px;
    color: rgb(253, 115, 115);

    &:hover {
      background-color: rgb(253, 115, 115);
      color: #fff;
    }
  }
}
