@use "/src/styles/utils";
@use "/src/styles/utils/vars" as vars;
@use "/src/styles/utils/mixins" as mixins;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/src/themes/default";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.message {
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.szh-accordion__item-btn {
  border-radius: 2px;
  padding: 5px 10px;
  width: 100%;
  text-align: left;
  background-color: rgb(248, 248, 248);
  height: 40px;
  font-size: 12px;
}

.dark .szh-accordion__item-btn {
  background-color: rgb(45, 56, 71);
}

.szh-accordion__item-panel {
  padding: 10px;
}

.no-select {
  user-select: none;
}

.hidden {
  display: none;
}

.go-create {
  background-color: vars.$main-color;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
}

.overflow-auto {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 2px lightgray inset;
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 2px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffffa7;
}

.dark .Toastify__toast {
  background-color: rgb(53, 65, 81);
  color: #f1f1f1;
}

.Toastify__toast-icon {
  display: none !important;
}

.Toastify__progress-bar--success {
  background-color: rgb(35, 64, 252);
}
